# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

fly.toml
.env

package-lock.json
.idea/misc.xml
.idea/modules.xml
.idea/upsy.iml
.idea/vcs.xml
.idea/copyright/profiles_settings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
upsy-next/.idea/misc.xml
upsy-next/.idea/modules.xml
upsy-next/.idea/.gitignore
.idea/.gitignore
upsy-next/.idea/upsy-next.iml
upsy-next/.idea/vcs.xml
upsy-next/.idea/copyright/profiles_settings.xml
upsy-next/.idea/inspectionProfiles/profiles_settings.xml
upsy-next/.idea/inspectionProfiles/Project_Default.xml
